<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block home %} Accueil {% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <link href={{asset('public/css/style.css')}} rel="stylesheet" /> 
    </head>

    <body>
        <div class="body" >
            <div class="tete" >
                <div class="logo" > <a href="{{path('dl_community_core_homepage')}}"><img src="{{asset('public/img/Fichier1.png')}}" alt="logo" height="34" width="141"> </a> </div>
                <div class="recherche" > <input type="text" placeholder="recherche" > </div>
            </div>
            <div class="nav1" >
                <div class="nav1Bbo1">
                    <div class="profil" >
                        {% if app.user != null   %}
                            <p>Bonjour {{ app.user.username }} </p>
                        {% endif %}
                    </div>
                    <div class="conect" >
                        {% if app.user == null   %}
                            <div class="accueille3" > <a href="{{path('login')}}" class="a" >Connection</a></div>
                            <div class="accueille3" > <a href="{{path('dl_community_inscription')}}" class="a" >Inscription</a></div>
                        {% else %}
                            <div class="accueille3" > <a href="{{path('logout')}}" class="a" >Deconnection</a></div>
                        {% endif %}
                    </div>

                </div>
                <div class="nav1Bbo2">

                    <div class="boutonvan1" > <a href="{{path('dl_community_category')}}" >Forum</a> </div>
                    <div class="boutonvan1" > <a href="#" >Evenement</a></div>
                    <div class="boutonvan1" > <a href="#" >News</a></div> 
                    {% if is_granted('ROLE_ADMIN') %}
                        <div class="boutonvan1" > <a href="{{path('dl_community_admin_homepage')}}" >admin</a></div>
                        {% endif %}
                </div>
            </div>
            <div class="nav2" >  
                <div class="bar1">

                </div>

                <div class="corpPrincipal" >

                    {% block body %}
                        <p>core page Home page </p>
                    {% endblock %}                     

                </div>
            </div>

        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

    </body>

</html>


