{% extends "@DlCommunityCore/template/template.html.twig" %}
{% block body %}

    <div class="well">
        {{ form_start(form)}}
        {{ form_label(form.title, "titre")}}
        {{ form_widget(form.title)}}
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
