{% extends "@DlCommunityCore/template/template.html.twig" %}
{% block body %}

    {{form_start(form_Info_stat , {'attr':{'novalidate':'novalidate'}})}}
    {{form_start(form_useType , {'attr':{'novalidate':'novalidate'}})}}
    
    {{ form_rest(form_Info_stat) }}
    {{ form_rest(form_useType) }}
    <button type="submit">inscription</button>
    {{form_end(form_useType)}}
    {{form_end(form_Info_stat)}}
    
{% endblock %}
